img {
	width:150px;height:150px;
	border-radius: 50%;
}
 #tt, tr, td{
	border-collapse:collapse;
	border: 1px solid black;
	padding: 8px;
	margin:10px;
}

a{
	font-weight: bold;
}
p {
  text-indent: 30px;
}
body{
	background-image: url("../assets/images/anhnen1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
p{
	font-size:25px;
}