img {
	width:150px;height:150px;
	border-radius: 50%;
}
h1{
	color: blue;
}
 #tt, tr, td{
	border-collapse:collapse;
	border: 1px solid black;
	padding: 8px;
}
 #gt{
	border-collapse:collapse;
	border: 2px solid black;
	margin-right:0px;
}
a{
	font-weight: bold;
}
p {
  text-indent: 30px;
}
body{
	background-image: "..\assets\images\anhnen.jpg";
}