*{
	margin-left: 12px;
	font-family:'Times New Roman', Times, serif;
	margin: 2px ;
	padding: 2px;
}
.control{
	display: block;
	padding-left: 10px;
	margin-left: 10px;
	border: 1px solid greenyellow;
	background-color: aliceblue;
	color:rgba(0, 0, 0, 0.836);
}
.container{
		padding: 2px;
		margin: 0px;
		background-color: rgb(139, 187, 231);
}
h3{
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px;
}
input.button{
	background-color:rgb(181, 212, 240);
	color:black;
	border:none;
	boder-radius: 5px;
}

